.App {
  text-align: center;
}


* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.navbar {
  background-color: black;
  color: beige;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0  1rem;

}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.site-title {
  font-size: 2rem;
}
.navbar a {
  color: aliceblue;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar li:hover {
  background-color: #555;
}
.navbar li:active {
  background-color: darkmagenta;
}